.home-fixture {
    display: flex;

    // height: 100%;
    &.upcoming-fixture {
        margin-top: 0;
        height: 56px;
        margin-left: 0;
        border-radius: 0;
        color: var(--text-sidebar);
    }

    .fixture-title {
        border-radius: 0;

        &::after {
            width: 56px;
            height: 56px;
            border-top: 28px solid transparent;
            border-left: 28px solid var(--bg-table-header);
            border-bottom: 28px solid transparent;
            right: -56px
        }
    }

    .fixture-box-container {
        height: 56px;
        align-items: center;
        width: calc(100% - 95px);
        overflow: hidden;
        display: flex;
        align-items: center;

        .login-fixture {
            display: flex;
            white-space: nowrap;

            .fixture-box {
                margin-right: 20px;
                padding: 5px;
                font-size: 14px;
                line-height: 1;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-start;

                i {
                    margin-right: 8px;
                }

                .date {
                    font-size: 11px;
                    margin-top: 3px;
                }
            }
        }
    }
}

.fixture-title {
    width: 70px;
    background-color: var(--bg-table-header);
    text-align: center;
    padding: 8px 0;
    border-radius: 8px 0 0 8px;
    font-weight: var(--font-bold);
    height: 100%;
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    color: var(--text-table-header);
    font-size: 12px;
    padding-left: 10px;
    line-height: normal;
    font-weight: bold;

    &::after {
        content: "";
        position: absolute;
        width: 46px;
        height: 46px;
        border-top: 23px solid transparent;
        border-left: 23px solid var(--bg-table-header);
        border-bottom: 23px solid transparent;
        right: -46px;
        top: 0
    }
}