.mid-container{
    margin-top: 65px;
}
.casino-box-tabs {
    padding: 10px 0;
    position: sticky;
    top: 94px;
    margin-top: -6px;
    z-index: 1;
    width: 100%;
    background: var(--bg-body);
    .nav-pills {
        margin: 0 50px;
        white-space: nowrap;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }
    .nav-pills{
        .nav-item {
            margin-right: 10px;
            img {
                height: 30px;
                margin-right: 5px;
            }
        }
        .nav-link {
            border: 2px solid var(--bg-table-header);
            color: var(--text-body);
            border-radius: 20px;
            background-color: transparent;
            min-height: 50px;
            display: flex;
            align-items: center;
        }
        .nav-link.active {
            border: 2px solid var(--text-fancy);
        }
    }
}
.casino-tabs-menu {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.arrow-tabs {
    width: 40px;
    position: absolute;
    top: 5px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    background-color: var(--bg-table-header);
    color: var(--text-table-header);
    font-size: 16px;
    
}
.arrow-tabs:focus, .arrow-tabs:hover {
    color: var(--text-table-header);
    opacity: .6;
}
.arrow-left {
    left: 0;
}
.arrow-right {
    right: 0;
}
.casino-banners {
    background-color: var(--bg-table);
    padding: 10px 10px 0 10px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-top: 6px;
}
.casino-banner-item {
    width: calc(16.66% - 8.4px);
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    animation: slide-down .5s ease-out;
    position: relative;
    .slot-title {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: var(--bg-table-header);
        padding: 5px;
        color: var(--text-table-header);
        font-size: 16px;
        font-weight: 700;
        opacity: .9;
        word-break: break-word;
        width: 100%;
        max-width: 100%;
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: none;
    }
}
.casino-banner-item:hover .slot-title {
    display: block;
}
.casino-banner-item:nth-child(6n) {
    margin-right: 0;
}